<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Footer-->
<footer th:fragment="footer" class="footer py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Georgi Yazmadzhian 2021</p></div>
</footer>
<!-- Bootstrap core JS-->

<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>