<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head">


</head>
<body id="about-body">
<!-- Navigation-->
<nav th:replace="fragments/navigation::navigation">
</nav>


<section id="contact">
    <div class="container-lg">


        <div class="row justify-content-center my-5">
            <div class="col-lg-6 main-form">

                <div class="text-center text-light">
                    <h2>Get in Touch</h2>
                    <p class="lead">Questions to ask? Fill out the form to contact me directly...</p>
                </div>

                <form class=" text-light">
                    <label for="email" class="form-label">Email address:</label>
                    <div class="input-group mb-4">
              <span class="input-group">
                <i class="bi bi-envelope-fill text-secondary"></i>
              </span>
                        <input type="text" id="email" class="form-control" placeholder="e.g. mario@example.com"/>

                        <!-- tooltip -->
                        <span class="input-group-text">
                <span class="tt" data-bs-placement="bottom" title="Enter an email address we can reply to.">
                  <i class="bi bi-question-circle text-muted"></i>
                </span>
              </span>
                    </div>
                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-person-fill text-secondary"></i>
              </span>
                        <input type="text" id="name" class="form-control" placeholder="e.g. Mario"/>
                        <!-- tooltip -->
                        <span class="input-group-text">
                <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                  <i class="bi bi-question-circle text-muted"></i>
                </span>
              </span>
                    </div>
                    <label for="subject" class="form-label">What is your question about?</label>
                    <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-chat-right-dots-fill text-secondary"></i>
              </span>
                        <input type="text" id="subject" class="form-control" placeholder="..."/>
                    </div>
                    <div class="mb-4 mt-5 form-floating">
                        <textarea class="form-control" id="query" style="height: 140px" placeholder="query"></textarea>
                        <label class="text-dark" for="query">Your query...</label>
                    </div>
                    <div class="mb-4 text-center">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>




<section class="bg-blur center">
    <div class="container mb-3">
        <div class="text-center text-light">
            <h2>Stay in The Loop</h2>
            <p class="lead">Get the latest updates as they happen...</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p class="text-muted my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem
                    voluptatibus porro, hic asperiores fuga illo voluptates obcaecati deleniti veritatis sunt saepe
                    quasi deserunt ex ipsum. Est possimus, aspernatur, vitae eligendi rem odit quaerat, ipsum pariatur
                    ratione maxime delectus fuga minus accusamus dolores iusto maiores accusantium cumque magnam placeat
                    quia!</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">
                    Register for Updates
                </button>
            </div>
        </div>
    </div>
</section>


<!-- modal itself -->
<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Get the Latest Updates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, exercitationem laboriosam nihil minus
                    voluptatibus harum aliquam consequatur pariatur inventore dignissimos illum excepturi ratione ipsum
                    sit iusto alias eligendi fugit laborum?</p>
                <label for="modal-email" class="form-label">Your email address:</label>
                <input type="text" class="form-control" id="modal-email" placeholder="e.g. mario@example.com">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>