<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head">
</head>
<body>
<nav th:replace="fragments/navigation::navigation"></nav>

<div class="row justify-content-center align-items-center my-5">
    <div class="col-md-6">
        <div class="container-fluid bg-blur rounded p-5 mb-5 w-75">
            <div class="form-group my-3">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form method="post"
                              th:action="@{/users/login}">
                            <div class="form-floating mb-5">
                                <input
                                        th:value="${username}"
                                        name="username"
                                        type="text"  class="form-control" id="username" placeholder="Username">
                                <label for="username">Username</label>
                            </div>
                            <div class="form-floating">
                                <input name="password" type="password" class="form-control" id="password"
                                       placeholder="Password">
                                <label for="password">Password</label>
                            </div>
                            <div class="text-center">

                            </div>

                            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                                Invalid username or password.
                            </p>

                            <div class="card-footer text-center py-3">
                                <button type="submit" class="btn btn-outline-secondary mb-2">Login</button>
                                <div class="small">Need an account?&nbsp&nbsp<a href="/users/register">Sign up!</a>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer::footer">
</div>
</body>
</html>